body{
    background: url("../resimler/arka.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#profil{
    margin-top:5%;
    margin-left:35%;
    display:flex;
    width:30%;
    height:auto;
    background-color:burlywood;
    flex-direction:column;
    text-align: center;
}
#profil #profilresim{
    width:45%;
    margin-top:25px;
    margin-left:28%;
    border-radius:50%;
}
#profil #profilresim:hover{
    width:190px;
    height:190px;
}
h2{
    font-size:35px;
}
#adres{
    padding:10px;
}
#adres img{
    padding:30px;
}
#adres img:hover{
    background-color:bisque;
    color:aqua;
}
@media only screen and(max-width:465px){
    #profil{
        margin:0;
        display:none;
        width:100%;
        height:auto;
        background-color:burlywood;
        text-align: center;
    }
}
